################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lab2/Debug
/Lab2/.vs/Lab2/v15/ipch/AutoPCH
/Lab2/.vs/Lab2/v15/Browse.VC.opendb
